{% extends "base.html" %}
{% block body %}
    <h1>Python Builtins Docstrings</h1>
    <p>Search results for: <span class="hi">{{ search_text }}</span></p>
    {% if results|length == 0 %}
        <p>No results found</p>
    {% else %}
        <table id="searchresults">
        {% for result in results|sort %}
            <tr>
                <td class="link menuitem">
                    <a href="/functions/{{ result[0] }}">{{ result[0] }}</a>
                </td>
                <td>{{ result[1] }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
